.main {
 .main-text {
    p {
        margin: 1px 1px 1px 1px;

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #3b3b3b;

        text-align: center;
    }
 }   
}