.footer {
    width: 100%;
    height: 60px;

    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #4788dd;

    p {
        margin: 1px 1px 1px 1px;
        
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #f1f2f3;

        text-align: center;
    }
}